<div class="horizontal_card dish_cart" data-dish-id="<%=@dish.id%>">
  <div class="d-flex w-100">
    <div class="">
      <%= image_tag @dish.dish_image, alt: main_translate(@dish,"name") %>
    </div>
    <div class="card_info w-100">
      <div class="card_head">
        <h5><%= main_translate(@dish,"name") %></h5>
      </div>
      <div class="card_body">
        <p><%= main_translate(@dish,"description") %></p>
      </div>
      <% if @dish.variants.any?%>
        <%= select_tag "order[order_dishes][#{@order_dish.id}][variant_name]", options_for_select(@dish.variants.map{|variant| [main_translate(variant,"name"),variant.name]}), class: "w-100" %>
      <%end%>
    </div>
  </div>
  <%#= select_tag "order[order_dishes][#{@order_dish.id}][variant_name]", options_from_collection_for_select(@dish.variants, :name, :name), class: "d-md-none" %>
  <div class="card_footer w-100 mx-md-5 d-flex d-md-block d-lg-flex text-md-center text-lg-start">
    <div class="number-input d-flex  justify-content-center md-number-input">
      <a class="cart_btn minus">-</a>
      <%= number_field_tag "order[order_dishes][#{@order_dish.id}][count]", 1, min: 1, max: 100, style: "-moz-appearance:textfield;", readonly: true %>
      <a class="cart_btn plus">+</a>
    </div>
    <div class="dish-price d-none">
      <%= @dish.price.ceil %>
    </div>
    <div class="card_price ms-auto quantity mt-md-4 mt-lg-0 me-2">
      <span class="dish_sum">
        <%= @dish.price.ceil %>
      </span>
      <%=t('pay.money') %>
    </div>
  </div>
  <a class="card_close">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
      <path d="M20.254 1.41802L10.8359 10.836M10.8359 10.836L1.41792 1.41802M10.8359 10.836L1.41792 20.2541M10.8359 10.836L20.254 20.2541" stroke-linecap="round"/>
    </svg>
  </a>
</div>
