<div class="col-6 col-xl-4">
  <div class="product_cart" data-id="<%=@dish.id%>">
    <%=image_tag @dish.dish_image(300,300), alt: main_translate(@dish,"name") %>
    <div class="card_head">
      <div class="row align-items-center">
        <div class="col-12 col-md-9 order-1 order-md-0">
          <h5><%=main_translate(@dish,"name")%></h5>
        </div>
        <div class="col-12 col-md-3 order-0 text-md-end">
          <p class="card_weight"><%= @dish.weight %></p>
        </div>
      </div>

    </div>
    <div class="card_body">
      <p><%=main_translate(@dish,"description")%></p>
    </div>
    <div class="card_footer d-flex align-items-center">
      <p class="card_price"><%= @dish.price %> <%=t('pay.money') %></p>
      <div class="ms-auto pb-3">
        <a class="btn btn__buy buy"><span class="d-none d-md-block"><%=t("dish.order")%></span><span class="d-md-none">+</span></a>
      </div>
    </div>
  </div>
</div>
