<header>
  <div class="container-lg">
    <div class="row mx-0">
      <div class="col-12 d-lg-none px-0">
        <img src="/bg.webp" alt="Balu" class="w-100">
      </div>
      <div class="col-12 col-lg-6 col-xl-4 mt-4 mt-lg-0 mb-1 mb-lg-5 text-center text-lg-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="186" height="126" viewBox="0 0 186 126" fill="none">
          <path d="M95.3895 104.996C103.934 104.058 106.952 73.4329 107.257 70.1707C108.469 57.1219 106.8 46.5579 105.511 38.3871C103.141 23.4099 101.487 27.4038 98.2782 9.70562C97.638 6.15378 97.2112 3.29555 95.8163 3.02116C91.8605 2.24372 84.7721 23.1203 83.362 27.259C78.2934 42.1829 75.6181 50.064 75.5571 60.285C75.4352 82.4269 87.6684 105.849 95.3895 104.996Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
          <path d="M129.605 88.5244C133.576 79.1113 134.216 70.811 135.428 55.0945C135.763 50.7423 137.463 28.7606 133.522 27.9145C132.127 27.6173 130.618 30.0792 128.629 33.0898C118.713 48.0975 118.758 43.7758 110.687 56.6036C106.281 63.6006 100.588 72.6555 96.5709 85.1327C95.5648 88.2577 86.2889 117.595 93.7736 121.817C100.534 125.636 121.007 108.921 129.605 88.5244Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
          <path d="M132.806 103.936C140.451 97.1528 144.612 89.95 152.493 76.2991C154.673 72.5186 165.695 53.4256 162.509 50.956C161.38 50.0871 158.957 51.6572 155.862 53.5094C140.435 62.7624 142.348 58.8829 129.528 66.9774C122.531 71.3905 113.492 77.0994 104.482 86.6116C102.226 88.9897 81.1973 111.459 86.1211 118.494C90.5647 124.866 116.236 118.624 132.806 103.936Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
          <path d="M138.255 116.657C147.615 112.549 153.789 106.97 165.474 96.398C168.713 93.4712 185.062 78.6769 182.783 75.3537C181.975 74.18 179.185 74.9269 175.672 75.7425C158.149 79.8126 161.159 76.7105 146.472 80.4757C138.461 82.526 128.103 85.1861 116.601 91.4742C113.72 93.052 86.8148 107.968 89.3376 116.185C91.6242 123.608 117.973 125.544 138.255 116.657Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
          <path d="M93.7736 121.817C101.335 117.732 92.6075 88.2195 91.6623 85.0793C87.8742 72.5335 82.3559 63.3719 78.08 56.2911C70.2446 43.3033 70.2141 47.6325 60.58 32.442C58.644 29.3932 57.1805 26.9084 55.7857 27.1752C51.8299 27.945 53.118 49.9573 53.3696 54.317C54.2918 70.0564 54.772 78.3643 58.5677 87.8537C66.7842 108.418 86.9367 125.514 93.7736 121.817Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
          <path d="M94.7111 119.874C99.9779 113.082 80.0693 89.6143 77.9275 87.1296C69.3909 77.1829 60.6409 71.0396 53.8726 66.2911C41.464 57.5792 43.1789 61.5503 28.2246 51.5502C25.2292 49.5456 22.874 47.8612 21.7079 48.6767C18.3999 50.9786 28.4762 70.5899 30.4655 74.4771C37.6683 88.5015 41.4716 95.9025 48.7735 103.044C64.6119 118.524 89.955 126.017 94.7111 119.874Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
          <path d="M96.6624 116.177C99.1852 107.961 72.2721 93.0444 69.3986 91.4666C57.9047 85.1785 47.5388 82.5185 39.5281 80.4681C24.8405 76.7029 27.8512 79.8126 10.3283 75.7349C6.81459 74.9193 4.02494 74.1724 3.21701 75.3462C0.938038 78.6694 17.2872 93.456 20.5265 96.3904C32.2186 106.962 38.3924 112.549 47.7446 116.65C68.0266 125.544 94.3758 123.608 96.6624 116.177Z" stroke="#9F9650" stroke-width="5" stroke-miterlimit="10"/>
        </svg>
        <h1 class="color_accent mt-3"><%=t('main_page.title')%></h1>
        <p><%=t('main_page.description')%></p>
        <div class="pt-1 mt-md-2 pb-md-3 pb-lg-5">
          <%=link_to t('main_page.service_button'), new_booking_path, class: "btn btn__balu d-inline-block", data: {turbolinks: false} %>
        </div>
      </div>
    </div>
    <div class="px-4 plashechka">
      <div class="row align-items-center jusify-content-center">
        <div class="col-12 col-lg-4 my-4 text-center text-lg-start d-block d-lg-flex align-items-center">
          <img src="/p1.svg" alt="" class="d-block mx-auto my-2 me-xl-3" height="38px">
        <%=t('main_page.traditions.block_1')%>
        </div>
        <div class="col-12 col-lg-4 my-4 text-center text-lg-start d-block d-lg-flex align-items-center">
          <img src="/p2.svg" alt="" class="d-block mx-auto my-2 me-xl-3" height="38px">
        <%=t('main_page.traditions.block_2')%>
        </div>
        <div class="col-12 col-lg-4 my-4 text-center text-lg-start d-block d-lg-flex align-items-center">
          <img src="/p3.svg" alt="" class="d-block mx-auto my-2 me-xl-3" height="38px">
          <%=t('main_page.traditions.block_3')%>
        </div>
      </div>
    </div>
  </div>
  <img src="/bg.png" alt="Balu" class="background d-none d-lg-block">
</header>
