<section id="how_work" class="layouts">
  <div class="container">
    <h2><%=t('main_page.how_work.title')%></h2>
  </div>
  <div class="work_block">
    <div class="container">
      <div class="row justify-content-center text-center align-items-center work_block_height">
        <div class="col-12 col-md-4 col-xl-2 work_item">
          <img src="/work_item/work_item_1.svg" alt="Обрати страви">
          <p><%=t('main_page.how_work.block_1')%></p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 work_item">
          <img src="/work_item/work_item_2.svg" alt="Обрати ступінь гостроти">
          <p><%=t('main_page.how_work.block_2')%> <br> <%=t('main_page.how_work.block_2_1')%></p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 work_item">
          <img src="/work_item/work_item_3.svg" alt="Вказати час доставки та адресу">
          <p><%=t('main_page.how_work.block_3')%> <br> <%=t('main_page.how_work.block_3_1')%></p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 mt-md-5 mt-xl-0 work_item">
          <img src="/work_item/work_item_4.svg" alt="Оплатити">
          <p><%=t('main_page.how_work.block_4')%></p>
        </div>
        <div class="col-12 col-md-4 col-xl-2 mt-md-5 mt-xl-0 work_item">
          <img src="/work_item/work_item_5.svg" alt="Отримати замовлення">
          <p><%=t('main_page.how_work.block_5')%> <br> <%=t('main_page.how_work.block_5_1')%></p>
        </div>
      </div>
    </div>
    <svg class="line" xmlns="http://www.w3.org/2000/svg" width="100%" height="123" viewBox="0 0 1920 123" fill="none">
      <path d="M0 75.2791C0 75.2791 97.3882 26.6285 164.5 10.2791C373.637 -40.6694 489.749 135.475 704.5 120.779C865.807 109.74 941.817 9.68071 1103.5 10.2791C1251.36 10.8263 1430.94 111.336 1578.5 120.779C1756.71 132.184 1921 29.7791 1921 29.7791" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-dasharray="8 8"/>
    </svg>
    <svg class="line_first" xmlns="http://www.w3.org/2000/svg" width="482" height="102" viewBox="0 0 482 102" fill="none">
      <path d="M0.5 27.5C0.5 27.5 69.4341 27.947 102.5 42C162.5 67.5 164.227 103.367 222.5 101C276.911 98.7896 299 53.5106 352 22.5C400.102 -5.64452 425.776 1.62679 481.5 2.49998" stroke="#4F4F4F" stroke-dasharray="7 7"/>
    </svg>
    <svg class="line_last" xmlns="http://www.w3.org/2000/svg" width="254" height="103" viewBox="0 0 254 103" fill="none">
      <path d="M1 43C37.6891 72.3185 60.5901 99.2367 107.5 101.5C172.5 104.636 231.5 43 253 1" stroke="#4F4F4F" stroke-dasharray="7 7"/>
    </svg>
  </div>
</section>
