<span id="map_link" class="fix_link"></span>
<section id="map" class="layouts">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10160.972946899421!2d30.5107802!3d50.4551951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d39e29d16804131!2z0JHQsNC70YMgLSDRltC90LTRltC50YHRjNC60LAg0ZfQttCwINGC0LAg0L3QsNC_0L7Rlw!5e0!3m2!1suk!2sua!4v1633008974448!5m2!1suk!2sua" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <div class="container-md">
    <div class="box">
      <div class="mb-5">
        <img src="/logo.png" alt="">
      </div>
      <div class="d-flex align-items-center mb-3">
        <%= link_to "tel:#{$config_view.data['phone']}" do %>
        <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M21.3761 3.27496C19.2641 1.16293 16.4559 -0.000118127 13.4691 8.99879e-09C12.9797 8.99879e-09 12.5831 0.3967 12.5831 0.886018C12.5831 1.37534 12.9798 1.77204 13.4691 1.77204C15.9826 1.77192 18.3457 2.75067 20.123 4.52802C21.9005 6.30538 22.8792 8.66856 22.8791 11.1821C22.8791 11.6715 23.2757 12.0682 23.7651 12.0682C24.2545 12.0682 24.6512 11.6715 24.6512 11.1823C24.6513 8.19519 23.4882 5.38699 21.3761 3.27496Z" fill="#073828"/>
          <path d="M17.7314 11.1821C17.7314 11.6714 18.1281 12.0681 18.6175 12.068C19.1068 12.068 19.5034 11.6713 19.5034 11.182C19.5032 7.85526 16.7962 5.14842 13.4693 5.14795C13.4691 5.14795 13.4693 5.14795 13.4691 5.14795C12.9798 5.14795 12.5832 5.54453 12.5831 6.03385C12.5831 6.52317 12.9797 6.91987 13.469 6.91998C15.8191 6.92034 17.7311 8.83225 17.7314 11.1821Z" fill="#073828"/>
          <path d="M15.771 15.6996C14.4205 15.6296 13.7325 16.634 13.4025 17.1165C13.1262 17.5204 13.2297 18.0717 13.6336 18.348C14.0375 18.6244 14.5888 18.5209 14.8651 18.117C15.255 17.547 15.4316 17.4573 15.6712 17.4686C16.438 17.5588 19.4581 19.7719 19.7606 20.464C19.8364 20.6678 19.8336 20.8675 19.7522 21.1105C19.4351 22.0516 18.9102 22.7129 18.234 23.0229C17.5916 23.3174 16.804 23.2907 15.9568 22.946C12.7935 21.6567 10.0298 19.8573 7.74273 17.5979C7.74179 17.5969 7.74084 17.5961 7.74002 17.5952C5.48528 15.3103 3.68926 12.5502 2.40206 9.3917C2.05722 8.54384 2.03052 7.75611 2.32503 7.1138C2.63502 6.4376 3.29634 5.91272 4.23659 5.596C4.48042 5.51425 4.67983 5.51165 4.88172 5.58678C5.57624 5.89027 7.78928 8.91029 7.87859 9.66849C7.89135 9.91705 7.80098 10.0935 7.23144 10.4827C6.82742 10.7586 6.72358 11.31 6.99966 11.714C7.27563 12.118 7.82685 12.2218 8.23099 11.9458C8.71369 11.6162 9.71785 10.9301 9.64815 9.57493C9.57136 8.15942 6.81785 4.41086 5.50217 3.92709C4.91705 3.70901 4.30156 3.70523 3.67213 3.91646C2.25592 4.39337 1.2331 5.24372 0.714251 6.37546C0.210993 7.47341 0.226941 8.74727 0.760915 10.06C2.1385 13.4401 4.06588 16.3976 6.48943 18.8507C6.49534 18.8567 6.50136 18.8626 6.50751 18.8684C8.95882 21.2875 11.9129 23.2113 15.2885 24.5873C15.9645 24.8622 16.6302 24.9998 17.2668 24.9998C17.8663 24.9998 18.4402 24.8779 18.9725 24.6338C20.1043 24.1151 20.9546 23.0924 21.4318 21.6752C21.6426 21.047 21.6392 20.4317 21.4227 19.8493C20.9373 18.5301 17.1887 15.7766 15.771 15.6996Z" fill="#073828"/>
        </svg>
        <span class="ms-2">
          <%= $config_view.data['phone'] %>
        </span>
        <%end%>
      </div>
      <!--  -->
      <div class="d-flex align-items-center mb-3">
        <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
          <circle cx="14.5" cy="14.5" r="13.75" stroke="#073828" stroke-width="1.5"/>
          <path d="M21.3018 14.4473C21.2314 15.9121 20.8711 17.0693 20.2207 17.9189C19.5703 18.7627 18.6885 19.1846 17.5752 19.1846C16.5146 19.1846 15.8057 18.7334 15.4482 17.8311C15.1494 18.2764 14.8008 18.6104 14.4023 18.833C14.0098 19.0557 13.5967 19.167 13.1631 19.167C12.3076 19.167 11.6572 18.8154 11.2119 18.1123C10.7725 17.4092 10.6055 16.4688 10.7109 15.291C10.8047 14.3359 11.0361 13.4746 11.4053 12.707C11.7803 11.9395 12.252 11.3477 12.8203 10.9316C13.3945 10.5098 14.0039 10.2988 14.6484 10.2988C15.1406 10.2988 15.5742 10.3604 15.9492 10.4834C16.3301 10.6064 16.7754 10.8613 17.2852 11.248L16.8281 16.1963C16.7168 17.3564 17.0508 17.9365 17.8301 17.9365C18.4277 17.9365 18.917 17.6172 19.2979 16.9785C19.6846 16.334 19.8955 15.502 19.9307 14.4824C20.0303 12.3203 19.6113 10.665 18.6738 9.5166C17.7422 8.36816 16.3389 7.79395 14.4639 7.79395C13.3154 7.79395 12.2959 8.08105 11.4053 8.65527C10.5205 9.22949 9.81738 10.0615 9.2959 11.1514C8.77441 12.2354 8.4873 13.4717 8.43457 14.8604C8.36426 16.2725 8.53125 17.4912 8.93555 18.5166C9.3457 19.5361 9.96973 20.3125 10.8076 20.8457C11.6514 21.3789 12.6797 21.6455 13.8926 21.6455C14.3848 21.6455 14.8975 21.5869 15.4307 21.4697C15.9697 21.3525 16.4268 21.1943 16.8018 20.9951L17.1357 22.1992C16.7783 22.4336 16.2949 22.6211 15.6855 22.7617C15.082 22.9082 14.4727 22.9814 13.8574 22.9814C12.3691 22.9814 11.0918 22.665 10.0254 22.0322C8.95898 21.4053 8.15918 20.4941 7.62598 19.2988C7.0752 18.0625 6.83203 16.583 6.89648 14.8604C6.9668 13.2549 7.32715 11.8135 7.97754 10.5361C8.62793 9.25293 9.51562 8.25684 10.6406 7.54785C11.7715 6.83887 13.0576 6.48438 14.499 6.48438C15.958 6.48438 17.2119 6.80664 18.2607 7.45117C19.3154 8.08984 20.1035 9.0127 20.625 10.2197C21.1465 11.4209 21.3721 12.8301 21.3018 14.4473ZM12.4336 15.291C12.3574 16.0879 12.4277 16.6943 12.6445 17.1104C12.8613 17.5205 13.207 17.7256 13.6816 17.7256C13.998 17.7256 14.2969 17.5879 14.5781 17.3125C14.8594 17.0312 15.0879 16.6475 15.2637 16.1611L15.6592 11.8281C15.3662 11.7168 15.082 11.6611 14.8066 11.6611C14.1562 11.6611 13.626 11.9688 13.2158 12.584C12.8057 13.1934 12.5449 14.0957 12.4336 15.291Z" fill="#073828"/>
        </svg>
        <a class="ms-2"  id="email" onclick="copyToClipboard(document.getElementById('email').innerHTML)"><%=$config_view.data['email']%></a>
      </div>
      <!--  -->
      <div class="d-flex align-items-center mb-3">
        <svg class="icons ms-1" xmlns="http://www.w3.org/2000/svg" width="21" height="28" viewBox="0 0 21 28" fill="none">
          <path d="M10.7138 0.5C5.06781 0.5 0.474609 5.16791 0.474609 10.9056C0.474609 15.0054 2.1638 19.1525 5.35958 22.8986C7.74651 25.6966 10.112 27.2819 10.2116 27.348C10.3641 27.4494 10.539 27.5 10.7139 27.5C10.8887 27.5 11.0636 27.4494 11.2162 27.348C11.3157 27.2819 13.6816 25.6966 16.0685 22.8988C19.2645 19.1525 20.9538 15.0054 20.9538 10.9056C20.9537 5.16791 16.36 0.5 10.7138 0.5ZM10.7138 25.422C8.83062 23.9961 2.31042 18.5083 2.31042 10.9056C2.31042 6.1965 6.08008 2.36542 10.7138 2.36542C15.3479 2.36542 19.1179 6.1965 19.1179 10.9056C19.1179 18.5083 12.5971 23.9961 10.7138 25.422Z" fill="#073828"/>
          <path d="M10.7145 6.77368C8.4736 6.77368 6.65051 8.62629 6.65051 10.9036C6.65051 13.1803 8.4736 15.0325 10.7145 15.0325C12.9554 15.0325 14.7784 13.1803 14.7784 10.9036C14.7784 8.62642 12.9553 6.77368 10.7145 6.77368ZM10.7145 13.1671C9.48586 13.1671 8.48633 12.1517 8.48633 10.9036C8.48633 9.65489 9.48586 8.6391 10.7145 8.6391C11.943 8.6391 12.9426 9.65489 12.9426 10.9036C12.9426 12.1517 11.943 13.1671 10.7145 13.1671Z" fill="#073828"/>
        </svg>
        <a class="ms-2 ps-1" href="https://goo.gl/maps/WbhqT9qF66mxKFnS7" target="_blank"><%=t('main_page.map.address')%></a>
      </div>
      <div class="d-flex align-items-center mt-5">
        <!-- Facebook -->
        <%= link_to $config_view.data['link_to_facebook'], class: "me-3", target: "_blank" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="34" viewBox="0 0 33 34" fill="none">
          <path d="M6.07254 0.285645C2.77178 0.285645 0.114014 3.00823 0.114014 6.3895V27.6104C0.114014 30.9917 2.77178 33.7142 6.07254 33.7142H17.3002V20.6458H13.9268V15.9407H17.3002V11.9209C17.3002 8.76273 19.2934 5.863 23.8849 5.863C25.7439 5.863 27.1186 6.04582 27.1186 6.04582L27.0105 10.4396C27.0105 10.4396 25.6085 10.426 24.0786 10.426C22.4229 10.426 22.1574 11.2075 22.1574 12.5049V15.9407H27.142L26.9248 20.6458H22.1574V33.7143H26.7881C30.0889 33.7143 32.7467 30.9917 32.7467 27.6104V6.38953C32.7467 3.00827 30.0889 0.285678 26.7881 0.285678H6.07251L6.07254 0.285645Z" fill="#F2F2F2"/>
          </svg>
        <%end%>
        <!-- Instagram -->
        <%= link_to $config_view.data['link_to_instagram'], class: "me-3", target: "_blank" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="35" viewBox="0 0 33 35" fill="none">
          <path d="M16.426 11.7476C13.446 11.7476 11.0141 14.3044 11.0141 17.4375C11.0141 20.5706 13.446 23.1274 16.426 23.1274C19.406 23.1274 21.8379 20.5706 21.8379 17.4375C21.8379 14.3044 19.406 11.7476 16.426 11.7476ZM32.6577 17.4375C32.6577 15.0813 32.678 12.7464 32.5521 10.3945C32.4263 7.66261 31.8335 5.2381 29.9335 3.24044C28.0293 1.23851 25.7273 0.619575 23.129 0.487251C20.8879 0.354927 18.6671 0.37627 16.43 0.37627C14.1889 0.37627 11.9681 0.354927 9.7311 0.487251C7.13273 0.619575 4.82667 1.24278 2.92661 3.24044C1.02249 5.24237 0.433797 7.66261 0.307938 10.3945C0.18208 12.7507 0.202379 15.0856 0.202379 17.4375C0.202379 19.7894 0.18208 22.1286 0.307938 24.4805C0.433797 27.2124 1.02655 29.6369 2.92661 31.6346C4.83073 33.6365 7.13273 34.2554 9.7311 34.3877C11.9722 34.5201 14.193 34.4987 16.43 34.4987C18.6711 34.4987 20.8919 34.5201 23.129 34.3877C25.7273 34.2554 28.0334 33.6322 29.9335 31.6346C31.8376 29.6326 32.4263 27.2124 32.5521 24.4805C32.6821 22.1286 32.6577 19.7937 32.6577 17.4375ZM16.426 26.1922C11.8179 26.1922 8.099 22.2823 8.099 17.4375C8.099 12.5927 11.8179 8.68279 16.426 8.68279C21.034 8.68279 24.753 12.5927 24.753 17.4375C24.753 22.2823 21.034 26.1922 16.426 26.1922ZM25.094 10.3688C24.0181 10.3688 23.1493 9.45539 23.1493 8.32423C23.1493 7.19308 24.0181 6.27962 25.094 6.27962C26.1699 6.27962 27.0387 7.19308 27.0387 8.32423C27.039 8.59283 26.9889 8.85886 26.8913 9.10707C26.7937 9.35529 26.6505 9.58082 26.4698 9.77075C26.2892 9.96067 26.0747 10.1113 25.8386 10.2139C25.6025 10.3165 25.3495 10.3692 25.094 10.3688Z" fill="#F2F2F2"/>
          </svg>
        <%end%>
      </div>
    </div>
  </div>
</section>
