<nav class="navbar navbar-expand-xl">
  <div class="container-lg">
    <%= link_to root_path, class: "navbar-brand ms-xl-2", data: { turbolinks: "false" } do %>
    <% image_tag "/logo.png" %><% end %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav text-end text-xl-start">
        <li class="nav-item">
          <%= link_to t('navbar.menu'), menu_path, class: "link_active" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.delivery'), deliveries_path, class: "link_active" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.about'), root_path + "#about_link", class: "link_active", data: { turbolinks: "false" } %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.booking'), new_booking_path, class: "link_active" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.contacts'), root_path + "#map_link", class: "link_active", data: { turbolinks: "false" } %>
        </li>
      </ul>
      <!-- -->
      <div class="d-flex d-md-none d-xl-flex justify-content-end text-end nav-item link_active ms-xl-4">
        <!-- Facebook -->
        <%= link_to $config_view.data['link_to_facebook'], class: "me-3", target: "_blank" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 33 34" fill="none">
            <path
              d="M6.07254 0.285645C2.77178 0.285645 0.114014 3.00823 0.114014 6.3895V27.6104C0.114014 30.9917 2.77178 33.7142 6.07254 33.7142H17.3002V20.6458H13.9268V15.9407H17.3002V11.9209C17.3002 8.76273 19.2934 5.863 23.8849 5.863C25.7439 5.863 27.1186 6.04582 27.1186 6.04582L27.0105 10.4396C27.0105 10.4396 25.6085 10.426 24.0786 10.426C22.4229 10.426 22.1574 11.2075 22.1574 12.5049V15.9407H27.142L26.9248 20.6458H22.1574V33.7143H26.7881C30.0889 33.7143 32.7467 30.9917 32.7467 27.6104V6.38953C32.7467 3.00827 30.0889 0.285678 26.7881 0.285678H6.07251L6.07254 0.285645Z"
              fill="#F2F2F2"/>
          </svg>
        <% end %>
        <!-- Instagram -->
        <%= link_to $config_view.data['link_to_instagram'], class: "me-3", target: "_blank" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewbox="0 0 33 35" fill="none">
            <path
              d="M16.426 11.7476C13.446 11.7476 11.0141 14.3044 11.0141 17.4375C11.0141 20.5706 13.446 23.1274 16.426 23.1274C19.406 23.1274 21.8379 20.5706 21.8379 17.4375C21.8379 14.3044 19.406 11.7476 16.426 11.7476ZM32.6577 17.4375C32.6577 15.0813 32.678 12.7464 32.5521 10.3945C32.4263 7.66261 31.8335 5.2381 29.9335 3.24044C28.0293 1.23851 25.7273 0.619575 23.129 0.487251C20.8879 0.354927 18.6671 0.37627 16.43 0.37627C14.1889 0.37627 11.9681 0.354927 9.7311 0.487251C7.13273 0.619575 4.82667 1.24278 2.92661 3.24044C1.02249 5.24237 0.433797 7.66261 0.307938 10.3945C0.18208 12.7507 0.202379 15.0856 0.202379 17.4375C0.202379 19.7894 0.18208 22.1286 0.307938 24.4805C0.433797 27.2124 1.02655 29.6369 2.92661 31.6346C4.83073 33.6365 7.13273 34.2554 9.7311 34.3877C11.9722 34.5201 14.193 34.4987 16.43 34.4987C18.6711 34.4987 20.8919 34.5201 23.129 34.3877C25.7273 34.2554 28.0334 33.6322 29.9335 31.6346C31.8376 29.6326 32.4263 27.2124 32.5521 24.4805C32.6821 22.1286 32.6577 19.7937 32.6577 17.4375ZM16.426 26.1922C11.8179 26.1922 8.099 22.2823 8.099 17.4375C8.099 12.5927 11.8179 8.68279 16.426 8.68279C21.034 8.68279 24.753 12.5927 24.753 17.4375C24.753 22.2823 21.034 26.1922 16.426 26.1922ZM25.094 10.3688C24.0181 10.3688 23.1493 9.45539 23.1493 8.32423C23.1493 7.19308 24.0181 6.27962 25.094 6.27962C26.1699 6.27962 27.0387 7.19308 27.0387 8.32423C27.039 8.59283 26.9889 8.85886 26.8913 9.10707C26.7937 9.35529 26.6505 9.58082 26.4698 9.77075C26.2892 9.96067 26.0747 10.1113 25.8386 10.2139C25.6025 10.3165 25.3495 10.3692 25.094 10.3688Z"
              fill="#F2F2F2"/>
          </svg>
        <% end %>
      </div>
      <!-- -->
      <div class="d-flex d-md-none d-xl-flex justify-content-end align-items-center nav-item mb-xl-0">
        <%= link_to "tel:#{$config_view.data['phone']}", class: "d-flex align-items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewbox="0 0 20 27" fill="none">
          <path
            d="M5.78578 0.7646C7.11685 0.582475 8.23543 1.39623 8.76501 2.45475L10.0677 5.06004C10.7903 6.50541 10.3751 8.20073 9.27974 9.26829C8.63262 9.89797 7.98226 10.6174 7.6051 11.2516C7.58011 11.2969 7.57231 11.3496 7.58314 11.4002C7.93189 13.2905 9.21258 15.1576 10.3551 16.4965C10.4126 16.5602 10.4876 16.6057 10.5707 16.6271C10.6538 16.6486 10.7414 16.6452 10.8226 16.6172L13.3898 15.8145C14.0814 15.5984 14.8241 15.6095 15.5089 15.8463C16.1937 16.083 16.7846 16.5329 17.1951 17.13L19.0531 19.8322C19.5569 20.5652 19.812 21.5604 19.4258 22.5169C19.0809 23.3707 18.4138 24.6036 17.2002 25.4232C15.9409 26.2731 14.2158 26.596 11.9587 25.8216C9.43668 24.9569 7.0542 22.7869 5.0786 20.0111C3.09137 17.2191 1.45547 13.7304 0.463472 10.0937C-0.473632 6.65848 0.0927629 4.34768 1.42383 2.85839C2.70839 1.42141 4.54901 0.933808 5.78578 0.7646ZM7.32093 3.17679C7.02578 2.58779 6.49943 2.29652 6.00537 2.36433C4.9068 2.51481 3.53118 2.92427 2.62766 3.93435C1.77128 4.89277 1.17841 6.57968 2.02058 9.6687C2.96672 13.1355 4.52447 16.4487 6.39416 19.0753C8.27547 21.718 10.4132 23.5845 12.4824 24.2949C14.3263 24.9272 15.5114 24.6146 16.2967 24.085C17.1273 23.5238 17.6381 22.6319 17.9287 21.9124C18.0618 21.583 18.0043 21.1568 17.7227 20.7473L15.8647 18.0445C15.6497 17.7318 15.3401 17.4962 14.9815 17.3721C14.6228 17.2481 14.2339 17.2423 13.8716 17.3554L11.3044 18.1582C10.5372 18.3971 9.67305 18.184 9.12733 17.5446C7.93835 16.1516 6.42322 14.0152 5.99503 11.6934C5.91302 11.2581 5.99198 10.8077 6.2172 10.4263C6.70674 9.60412 7.48174 8.76518 8.15276 8.1116C8.80828 7.47287 8.99428 6.5235 8.62358 5.78208L7.32093 3.17743V3.17679Z"
            fill="#F3B235"/>
        </svg>
        <span class="me-2 d-inline-block"><%= $config_view.data['phone'] %></span>
      <% end %>
      </div>
    </div>
    <!-- -->
    <div class="d-none d-md-flex d-xl-none ms-auto justify-content-end text-end nav-item link_active ms-xl-4 ms-xxl-5">
      <!-- Facebook -->
      <%= link_to $config_view.data['link_to_facebook'], class: "me-3", target: "_blank" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 33 34" fill="none">
          <path
            d="M6.07254 0.285645C2.77178 0.285645 0.114014 3.00823 0.114014 6.3895V27.6104C0.114014 30.9917 2.77178 33.7142 6.07254 33.7142H17.3002V20.6458H13.9268V15.9407H17.3002V11.9209C17.3002 8.76273 19.2934 5.863 23.8849 5.863C25.7439 5.863 27.1186 6.04582 27.1186 6.04582L27.0105 10.4396C27.0105 10.4396 25.6085 10.426 24.0786 10.426C22.4229 10.426 22.1574 11.2075 22.1574 12.5049V15.9407H27.142L26.9248 20.6458H22.1574V33.7143H26.7881C30.0889 33.7143 32.7467 30.9917 32.7467 27.6104V6.38953C32.7467 3.00827 30.0889 0.285678 26.7881 0.285678H6.07251L6.07254 0.285645Z"
            fill="#F2F2F2"/>
        </svg>
      <% end %>
      <!-- Instagram -->
      <%= link_to $config_view.data['link_to_instagram'], class: "me-3", target: "_blank" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewbox="0 0 33 35" fill="none">
          <path
            d="M16.426 11.7476C13.446 11.7476 11.0141 14.3044 11.0141 17.4375C11.0141 20.5706 13.446 23.1274 16.426 23.1274C19.406 23.1274 21.8379 20.5706 21.8379 17.4375C21.8379 14.3044 19.406 11.7476 16.426 11.7476ZM32.6577 17.4375C32.6577 15.0813 32.678 12.7464 32.5521 10.3945C32.4263 7.66261 31.8335 5.2381 29.9335 3.24044C28.0293 1.23851 25.7273 0.619575 23.129 0.487251C20.8879 0.354927 18.6671 0.37627 16.43 0.37627C14.1889 0.37627 11.9681 0.354927 9.7311 0.487251C7.13273 0.619575 4.82667 1.24278 2.92661 3.24044C1.02249 5.24237 0.433797 7.66261 0.307938 10.3945C0.18208 12.7507 0.202379 15.0856 0.202379 17.4375C0.202379 19.7894 0.18208 22.1286 0.307938 24.4805C0.433797 27.2124 1.02655 29.6369 2.92661 31.6346C4.83073 33.6365 7.13273 34.2554 9.7311 34.3877C11.9722 34.5201 14.193 34.4987 16.43 34.4987C18.6711 34.4987 20.8919 34.5201 23.129 34.3877C25.7273 34.2554 28.0334 33.6322 29.9335 31.6346C31.8376 29.6326 32.4263 27.2124 32.5521 24.4805C32.6821 22.1286 32.6577 19.7937 32.6577 17.4375ZM16.426 26.1922C11.8179 26.1922 8.099 22.2823 8.099 17.4375C8.099 12.5927 11.8179 8.68279 16.426 8.68279C21.034 8.68279 24.753 12.5927 24.753 17.4375C24.753 22.2823 21.034 26.1922 16.426 26.1922ZM25.094 10.3688C24.0181 10.3688 23.1493 9.45539 23.1493 8.32423C23.1493 7.19308 24.0181 6.27962 25.094 6.27962C26.1699 6.27962 27.0387 7.19308 27.0387 8.32423C27.039 8.59283 26.9889 8.85886 26.8913 9.10707C26.7937 9.35529 26.6505 9.58082 26.4698 9.77075C26.2892 9.96067 26.0747 10.1113 25.8386 10.2139C25.6025 10.3165 25.3495 10.3692 25.094 10.3688Z"
            fill="#F2F2F2"/>
        </svg>
      <% end %>
    </div>
    <div class="d-none d-md-flex d-xl-none ms-auto me-5 pe-5 justify-content-end align-items-center nav-item mb-xl-0">
      <%= link_to "tel:#{$config_view.data['phone']}", class: "d-flex align-items-center"  do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" viewbox="0 0 20 27" fill="none">
        <path
          d="M5.78578 0.7646C7.11685 0.582475 8.23543 1.39623 8.76501 2.45475L10.0677 5.06004C10.7903 6.50541 10.3751 8.20073 9.27974 9.26829C8.63262 9.89797 7.98226 10.6174 7.6051 11.2516C7.58011 11.2969 7.57231 11.3496 7.58314 11.4002C7.93189 13.2905 9.21258 15.1576 10.3551 16.4965C10.4126 16.5602 10.4876 16.6057 10.5707 16.6271C10.6538 16.6486 10.7414 16.6452 10.8226 16.6172L13.3898 15.8145C14.0814 15.5984 14.8241 15.6095 15.5089 15.8463C16.1937 16.083 16.7846 16.5329 17.1951 17.13L19.0531 19.8322C19.5569 20.5652 19.812 21.5604 19.4258 22.5169C19.0809 23.3707 18.4138 24.6036 17.2002 25.4232C15.9409 26.2731 14.2158 26.596 11.9587 25.8216C9.43668 24.9569 7.0542 22.7869 5.0786 20.0111C3.09137 17.2191 1.45547 13.7304 0.463472 10.0937C-0.473632 6.65848 0.0927629 4.34768 1.42383 2.85839C2.70839 1.42141 4.54901 0.933808 5.78578 0.7646ZM7.32093 3.17679C7.02578 2.58779 6.49943 2.29652 6.00537 2.36433C4.9068 2.51481 3.53118 2.92427 2.62766 3.93435C1.77128 4.89277 1.17841 6.57968 2.02058 9.6687C2.96672 13.1355 4.52447 16.4487 6.39416 19.0753C8.27547 21.718 10.4132 23.5845 12.4824 24.2949C14.3263 24.9272 15.5114 24.6146 16.2967 24.085C17.1273 23.5238 17.6381 22.6319 17.9287 21.9124C18.0618 21.583 18.0043 21.1568 17.7227 20.7473L15.8647 18.0445C15.6497 17.7318 15.3401 17.4962 14.9815 17.3721C14.6228 17.2481 14.2339 17.2423 13.8716 17.3554L11.3044 18.1582C10.5372 18.3971 9.67305 18.184 9.12733 17.5446C7.93835 16.1516 6.42322 14.0152 5.99503 11.6934C5.91302 11.2581 5.99198 10.8077 6.2172 10.4263C6.70674 9.60412 7.48174 8.76518 8.15276 8.1116C8.80828 7.47287 8.99428 6.5235 8.62358 5.78208L7.32093 3.17743V3.17679Z"
          fill="#F3B235"/>
        </svg>
        <span class="me-2 d-inline-block"><%= $config_view.data['phone'] %></span>
      <% end %>
    </div>
    <!-- -->
    <%= link_to cart_path, class: "cart_responsive" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="39" viewbox="0 0 35 39" fill="none">
        <path d="M22.5013 11.1523C22.9381 11.1523 23.2927 10.8046 23.2927 10.3743C23.2927 9.94402 22.9381 9.59619 22.5013 9.59619H11.6355C11.1987 9.59619 10.8441 9.94393 10.8441 10.3743C10.8441 10.8045 11.1987 11.1523 11.6355 11.1523H22.5013Z" fill="white"/>
        <path
        d="M33.4013 9.59629H28.0106C27.5738 9.59629 27.2193 9.94403 27.2193 10.3744C27.2193 10.8046 27.5738 11.1524 28.0106 11.1524H32.6099V37.444H2.39022V11.1524H6.72592C7.16274 11.1524 7.5173 10.8046 7.5173 10.3743C7.5173 9.94403 7.16274 9.59619 6.72592 9.59619H1.59894C1.16211 9.59619 0.807556 9.94393 0.807556 10.3743V38.2219C0.807556 38.6521 1.16211 38.9999 1.59894 38.9999H33.4013C33.8381 38.9999 34.1926 38.6522 34.1926 38.2219V10.3743C34.1926 9.94403 33.8389 9.59629 33.4013 9.59629Z"
        fill="white"/>
        <path
        d="M25.1777 12.9022C25.6145 12.9022 25.9691 12.5545 25.9691 12.1241V6.45072C25.969 2.89428 22.0638 0 17.2445 0C12.4443 0 8.53986 2.89428 8.53986 6.45072V12.1242C8.53986 12.5545 8.89441 12.9023 9.33124 12.9023C9.76806 12.9023 10.1226 12.5546 10.1226 12.1242V6.45072C10.1226 3.75171 13.318 1.55606 17.2644 1.55606C21.191 1.55606 24.3864 3.75171 24.3864 6.45072V12.1242C24.3863 12.5545 24.7401 12.9022 25.1777 12.9022Z"
        fill="white"/>
        <path
        d="M7.29401 14.1245C7.29401 15.2277 8.20805 16.1257 9.33092 16.1257C10.4538 16.1257 11.3678 15.2278 11.3678 14.1245C11.3678 13.6943 11.0133 13.3464 10.5764 13.3464C10.1396 13.3464 9.78507 13.6942 9.78507 14.1245C9.78507 14.3696 9.5817 14.5696 9.33082 14.5696C9.08072 14.5696 8.87657 14.3696 8.87657 14.1245C8.87657 13.6943 8.52201 13.3464 8.08519 13.3464C7.64837 13.3464 7.29401 13.6943 7.29401 14.1245Z"
        fill="white"/>
        <path
        d="M25.1777 16.1257C26.3005 16.1257 27.2146 15.2278 27.2146 14.1245C27.2146 13.6943 26.86 13.3464 26.4232 13.3464C25.9864 13.3464 25.6318 13.6942 25.6318 14.1245C25.6318 14.3696 25.4284 14.5696 25.1776 14.5696C24.9267 14.5696 24.7233 14.3696 24.7233 14.1245C24.7233 13.6943 24.3688 13.3464 23.9319 13.3464C23.4951 13.3464 23.1406 13.6942 23.1406 14.1245C23.1408 15.2277 24.0547 16.1257 25.1777 16.1257Z"
        fill="white"/>
      </svg>
      <span id='cart_count'><%= @current_cart.dishes.count %></span>

    <% end %>
  </div>
</nav>

<div class="lang mobile d-block text-right">
<% I18n.available_locales.each do |locale| %>
  <% if locale == I18n.locale%>
    <%= link_to(t(locale).upcase, url_for(locale: locale),class:"btn btn-lang active", target: "_self")%>
  <%else%>
    <%= link_to(t(locale).upcase, url_for(locale: locale),class:"btn btn-lang", target: "_self")%>
  <%end%>
<% end %>
</div>
