<!DOCTYPE html>
<html>
  <head>
    <title>Balu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/css/splide.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%=render 'layouts/navbar'%>
    <%= yield %>
    <%=render 'layouts/footer'%>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
            toastr.<%=type%>('<%= value %>')
          <% end %>
        </script>
      <% end %>
    </body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0h_6ZWCwI_td3kWZ348Jnb7gVOo3sfxw&libraries=places" data-turbolinks-eval="false"></script>

  </html>
